accelerate
bitsandbytes
datasets
deepspeed==0.15.3
einops
flash-attn==2.7.4.post1
isort
jsonlines
loralib
optimum
optree>=0.13.0
packaging
peft
pynvml>=12.0.0
ray[default]==2.44.0
tensorboard
torch
torchmetrics
tqdm
transformers==4.50.0
transformers_stream_generator
wandb
wheel
