accelerate
aiohttp
bitsandbytes
datasets
dion @ git+https://github.com/microsoft/dion.git@28311d93686275f1baa7f0af57e6c4c61b75440b
einops
grpcio>=1.74.0
huggingface_hub>=1.0.0
isort
jsonlines
loralib
nemo-automodel @ git+https://github.com/NVIDIA-NeMo/Automodel.git@5ec4bd251aa2381c2b69f02c17fcdfe2d204fe7a
optimum
optree>=0.15.0
packaging
peft
pylatexenc
pynvml>=12.0.0
ray[default]==2.55.0
sympy
tensorboard
torch
torchdata
torchmetrics
tqdm
transformers==5.6.2
transformers_stream_generator
wandb
wheel
