torch==2.5.1
torch_npu==2.5.1
accelerate
datasets
deepspeed==0.16.7
einops
isort
jsonlines
loralib
optimum
optree>=0.13.0
packaging
peft
ray[default]==2.43.0
tensorboard
torchmetrics
tqdm
transformers==4.52.2
transformers_stream_generator
wandb
wheel
