torch==2.5.1
accelerate
bitsandbytes
datasets
deepspeed==0.16.3
einops
isort
jsonlines
loralib
optimum
packaging
peft
ray[default]==2.42.0
tensorboard
torchmetrics
tqdm
transformers==4.48.3
transformers_stream_generator
wandb
wheel
