accelerate
bitsandbytes
datasets
deepspeed==0.17.1
einops
flash-attn==2.8.0.post2
isort
jsonlines
loralib
optimum
optree>=0.13.0
packaging
peft
pynvml>=12.0.0
ray[default]==2.43.0
tensorboard
torch
torchdata
torchmetrics
tqdm
transformers==4.52.4
transformers_stream_generator
wandb
wheel
